.text-white {
  color: white;
}

.text-grey {
  color: $grey;
}

.text-blue {
  color: $blue;
}

.text-h1 {
  font-size: $font-size-h1;
}

.text-h2 {
  font-size: $font-size-h2;
}

.text-h3 {
  font-size: $font-size-h3;
}
